
/* �⺻ */
.fl {
	float: left !important;
}

.fr {
	float: right !important;
}

.lft {
	text-align: left !important;
}

.ctr {
	text-align: center !important;
}

.rgt {
	text-align: right !important;
}

.f11 {
	font-size: 11px;
}

.f12 {
	font-size: 12px;
}

.f13 {
	font-size: 13px;
}

.f14 {
	font-size: 14px;
}

.f15 {
	font-size: 15px;
}

.f16 {
	font-size: 16px;
}

.f17 {
	font-size: 17px;
}

.f_bold {
	font-weight: bold;
}

.mt5 {
	margin-top: 5px;
}

.mt10 {
	margin-top: 10px;
}

.mt20 {
	margin-top: 20px;
}

.mt30 {
	margin-top: 30px;
}

.mt40 {
	margin-top: 40px;
}

.mt50 {
	margin-top: 50px;
}

.mt60 {
	margin-top: 60px;
}

.mt70 {
	margin-top: 70px;
}

.mt80 {
	margin-top: 80px;
}

.mt90 {
	margin-top: 90px;
}

.mt100 {
	margin-top: 100px;
}

.pl4 {
	padding-left: 4px;
}

.pl10 {
	padding-left: 10px;
}

.pl15 {
	padding-left: 15px;
}

.pl20 {
	padding-left: 20px;
}

.pl25 {
	padding-left: 25px;
}

.pl30 {
	padding-left: 30px;
}

.w130 {
	width: 130px;
}

.w170 {
	width: 170px;
}

.w180 {
	width: 180px;
}

.w200 {
	width: 200px;
}

.w250 {
	width: 250px;
}

.w280 {
	width: 280px;
}

.w470 {
	width: 470px;
}

.w540 {
	width: 540px;
}

.w580 {
	width: 580px;
}

.w600 {
	width: 600px;
}

.w620 {
	width: 620px;
}

.f_bold {
	font-weight: bold;
}

.point_t {
	color: #186fb6;
}

.point_tb {
	color: #186fb6;
	font-weight: bold;
}

.point_t2 {
	color: #f23901;
}

.point_tb2 {
	color: #f23901;
	font-weight: bold;
}

.point_tb3 {
	color: #1497aa;
	font-weight: bold;
}

.point_ncc {
	color: #d0182a;
}

/* ��ũ */
a:link {
	color: #555;
	text-decoration: none;
}

a:hover {
	color: #555;
	text-decoration: none;
}

a:active {
	color: #555;
	text-decoration: none;
}

a:visited {
	color: #555;
	text-decoration: none;
}

/* ���̾ƿ� */
.clear {
	clear: both;
}

.clearfix {
	display: inline-block;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.none {
	display: none;
}

.hidden {
	position: absolute;
	font-size: 0;
	left: -1000%;
	overflow: hidden;
	width: 1px;
	text-indent: -5000px;
	line-height: 0;
	top: 0;
	height: 0;
}

/* ��ư */
/*
.btn {position: relative;border:1px solid #778f28; color:red; font-size:13px;padding:5px 22px 5px 17px;background:#829c2c url(http://linkpt.cdn3.cafe24.com/images/btn1.png) 90% center no-repeat;display:inline-block;}
.btn2 {position: relative;border:1px solid #778f28; color:red; font-size:13px;padding:5px 33px 5px 17px;background:#829c2c url(http://linkpt.cdn3.cafe24.com/images/btn1.png) 90% center no-repeat;display:inline-block;}
.btn3 {position: relative;border:1px solid #778f28; color:red; font-size:13px;padding:5px 17px 5px 17px;background:#829c2c;display:inline-block;}
*/

/*��������*/
.d_line {
	border: 1px dotted #ccc;
}

.dot_line {
	border: 2px dotted #ccc;
}

.f_bold {
	font-weight: bold;
}

.t_left {
	text-align: left;
}

/*login_layout*/
#login_wer {
	max-width:1024px;
	width:100%;
	margin:5% auto;
	padding:35px;
	border:1px solid #dfdfdf;
	overflow:hidden;
	box-sizing: border-box;
	text-align:center;
}

.login_name {
	font-size:24px;
	font-weight: bolder;
	text-align:center;
}
.login_con {
	width: 500px;
	margin: 0 auto;
}
#login_con_box{

}

.login_con input[type='radio'] {
	display: none;
}
.login_con label {
	display: inline-block;
	width:calc(50% - 2px);
	float:left;
	height: 40px;
	line-height: 40px;
	font-size: 15px;
	cursor: pointer;
	text-align: center;
	border: 1px solid #eee;
}
.login_con input:checked + label {
	color: #fff;
	background: #212121;
}
.login_con .tab-content {
	display: none;
	width: 100%;
	height: 100px;
	/*border: 1px solid #eee;*/
	font-size: 15px;
	margin: 0 auto;
}

#tab1:checked ~ #tab-content1 {
	display: block;
	background-color: #fff;
}

#tab2:checked ~ #tab-content2 {
	display: block;
	background-color: #e8f5d2;
}

.login_in_box {
	margin:5% 0;
}
.login_in_box input{
	width: 100%;
	padding:10px 15px;
	font-size:16px;
	margin-top: 10px;

}



											 /* ���̺� */
.table_type1 {
	width: 100%;
	border-collapse: collapse;
	font-size: 14px;
	border-top: 3px solid #222222;
	font-family: 'Nanum' !important;
}

.table_type1 th {
	padding: 6px;
	text-align: center;
	border-top: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
	border-left: 1px solid #e2e2e2;
	border-right: 1px solid #e2e2e2;
	background-color: #f2f2f2;
	font-weight: normal;
	font-family: 'Nanum-bold';
	line-height: 25px;
}

.table_type1 td {
	padding: 10px;
	border: 1px solid #e2e2e2;
}

.table_type1 td.bg1 {
	background-color: #f9f3e8;
	color: #976501;
}

.table_type1 td.t_left {
	text-align: left;
	padding-left: 10px;
}

.table_type1 caption {
	display: none;
}


.f_point {
	color: #a06228;
	font-weight: bold;
}

/* ���̺� */
.table_type2 {
	border-collapse: collapse;
	width: 720px;
	border-top: 3px solid #222222;
	font-size: 13px;
}

.table_type2 th {
	padding: 0px 15px;
	text-align: center;
	border-top: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
	border-left: 1px solid #e2e2e2;
	border-right: 1px solid #e2e2e2;
	background-color: #f2f2f2;
	font-weight: normal;
	font-family: 'Nanum-bold';
	line-height: 25px;
	height: 100px;
	font-size: 15px;
}

.table_type2 th.th_bg {
	background: #f2f2f2 url("http://linkpt.cdn3.cafe24.com/images/program_table_bg.png") no-repeat center
		center;
}

.table_type2 td {
	padding: 7px 10px;
	line-height: 1.4em;
	text-align: left;
	border: 1px solid #e2e2e2;
	height: 100px;
}

.table_type2 td.hx2 {
	height: 120px;
}

.table_type2 td.bg1 {
	background-color: #f9f3e8;
	color: #976501;
}

.table_type2 td.t_center {
	text-align: center;
	background-color: #fefefe;
	font-weight: bold;
	letter-spacing: -0.4px;
	font-size: 15px;
}

.table_type2 td.t_center span.f_normal {
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 0px;
}

.table_type2 td p.p_time {
	font-size: 13px;
	letter-spacing: -0.2px;
	padding-bottom: 2px;
	margin-bottom: 2px;
	height: 13px;
	line-height: 12px;
	padding-bottom: 3px;
}

.table_type2 td p.p_from {
	font-size: 14px;
	letter-spacing: -0.2px;
	padding-bottom: 7px;
	margin-bottom: 8px;
	border-bottom: 1px solid #eeeeee;
	font-family: 'Nanum-bold';
	line-height: 19px;
}

.table_type2 td p.p_title {
	font-size: 16px;
	letter-spacing: 0px;
	font-family: 'NanumBarunGothicBold';
	line-height: 20px;
}

.table_type2 td.bg_01 {
	background-color: #8158af;
	color: #fff;
} /* ���� */
.table_type2 td.bg_02 {
	background-color: #b15a6e;
	color: #fff;
} /* ���� */
.table_type2 td.bg_03 {
	background-color: #627ebc;
	color: #fff;
} /* ���� */
.table_type2 td.bg_04 {
	background-color: #48aba3;
	color: #fff;
} /* ���� */
.table_type2 td.bg_05 {
	background-color: #60ad6b;
	color: #fff;
} /* ��ü */
.table_type2 caption {
	display: none;
}

.f_sun {
	color: #cb2519;
}

.f_sat {
	color: #197dcb;
}

.table_type3 {
	border: 1px solid #dcdcdc;
	border-top: 3px solid #1a6eb6;
	border-bottom: 0px solid #1a6eb6;
}

.table_type3 table {
	width: 100%;
}

.table_type3 th {
	font-size: 15px;
	font-weight: 700;
	color: #333;
	padding: 40px;
	border-bottom: 1px solid #dcdcdc;
	word-wrap: break-word;
}

.table_type3 td {
	width: 100%;
	font-size: 13px;
	line-height: 25px;
	padding: 12px;
	border-bottom: 1px solid #dcdcdc;
	text-align: justify;
	word-break: keep-all;
}

.table_type3 td li {
	padding-left: 20px;
	background: url("http://linkpt.cdn3.cafe24.com/images/s_li_dot_01.png") no-repeat left 4px;
}

.table_type4 {
	width: 100%;
	border-collapse: collapse;
	text-align: center;
	margin-top: 10px;
	font-size: 18px;
	font-size: 1.125rem;
	font-family: 'NanumSquare';
	　overflow: hidden;
	border-radius: 6px;
	　behavior: url( "../css/PIE.htc" );
}

.table_type4 th {
	padding: 11px;
	vertical-align: middle;
	color: #fff;
	background: #3c78ce;
	font-weight: normal;
	font-family: 'NanumSquareB';
}

.table_type4 td {
	padding: 11px 20px;
	vertical-align: middle;
	background: #f1f1f1;
}

.table_type4 td.bgcolor1 {
	background: #d4d4d4;
	color: #444;
}

.table_type4 td.t_left {
	text-align: left;
}


.topBt {position:fixed;bottom:40px;right:-70px;width:68px;height:68px;text-align:center;background:#465986;z-index:3500;transition:all .3s ease}
.topBt span {display:inline-block;color:#fff;font-size:14px;margin-top:22px;padding-top:12px;background:url(../img/btn_top.png) no-repeat 50% 0;}
.topBt.over {right:30px}


/* input */
/* ȸ���������� ����Ʈ�ڽ� Ʋ���� ���󶧹��� �ּ�ó��
.input {border:1px solid #cdcdcd; padding:6px 4px; height:15px; font-family:����; font-size:11px; color:#777;}
.input {border:none;}
.input:focus, .input:hover {border:none; text-decoration:none;}*/

/* 게시판 테이블 */

.table_board_for {
  table-layout: fixed;
  width: 100%;
  border-top: 2px solid #474b53;
  border-bottom: 1px solid #ddd;
  word-break: break-all;
  font-size:16px;

}

.table_board_for thead th {
  color: #444;
  font-weight: bold;
}

.table_board_for a:hover {
  text-decoration: underline !important;
}

.table_board_for th {
  padding: 10px 2px;
  position: relative;
  color: #000;
  font-weight: 700;
}

.table_board_for th:first-child:before {
  display: none;
}

.table_board_for td {
  padding: 10px 5px;
  border-top: 1px solid #ddd;
  text-align: center;
  vertical-align: top;
  color:#666;
    line-height:1.6;
}

.table_board_for .text_left {
  text-align: left !important;
}
