<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.link.jk.jkframework.mapper.SiteMapper">

    <resultMap id="siteFullList" type="com.link.jk.jkframework.dto.SiteDto">
        <result column="SITE_NAME" property="siteName" />
        <result column="SITE_STATE" property="siteState" />
        <result column="SITE_DOMAIN" property="siteDomain" />
        <result column="SITE_CDN" property="siteCdn" />
    </resultMap>

    <select id="selectSiteList" resultMap="siteFullList">
        SELECT SITE_NAME
             , SITE_STATE
             , SITE_DOMAIN
             , SITE_CDN
        FROM tb_site
    </select>

    <update id="updateSite" parameterType="hashmap">
        UPDATE tb_site SET
          SITE_NAME = #{siteName}
        , SITE_STATE = #{siteState}
        , SITE_DOMAIN = #{siteDomain}
        , SITE_CDN = #{siteCdn}
    </update>

</mapper>
